* {
margin:0;
padding:0;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 33px 20px;
  font-family: serif;
  background-color: transparent;
}

.header{
  background: linear-gradient(#336666, #656565);
  height: 80px;
  color: #fff;
}

.header-logo{
  font-size: 36px;
  float: left;
  padding:20px 40px;
  font-family: serif;
}

.header a {

color:#fff;
text-decoration:underline;

}

.main{
  background-color: #656565;
  height: auto;
  font-family: serif;
  text-align:left;
}

.writer{
  background-color: #656565;
  height: auto;
  font-family: serif;
  text-align:left;
}

.sale{
  background-color: #656565;
  height: auto;
  font-family: serif;
  text-align:left;
}

h1{
  padding:20px#fff;
  color: #fff;
  position: relative;
}

h2{
  color: #fff;
  font-size: 20px;
}

h4{
  color: #fff;
  font-weight: normal;
}

img{
  max-width: 100%;
  height: auto;
  text-align:center;
  padding-bottom: 20px;
}

.writer a {

color:#fff;
text-decoration:underline;

}

.sale a {

color:#fff;
text-decoration:underline;

}

.footer{
  background: linear-gradient(#656565, #336666);
  height: 100px;
}

.footer-logo{
  font-size: 32px;
  float: left;
  font-family: serif;
  color: #FFF;
  padding:20px 40px;
}
