* {
margin:0;
padding:0;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 33px 20px;
  font-family: 'Kaisei HarunoUmi', serif;
  background-color: transparent;
}

.header{
  background: linear-gradient(#336666, #656565);
  height: 80px;
  color: #fff;
}

.header-logo{
  font-size: 36px;
  float: left;
  padding:20px 40px;
  font-family: 'Kaisei HarunoUmi', serif;
}

.header a{
color:#fff;
text-decoration:underline;
}

.writer a{
color:#fff;
text-decoration:underline;
}

.sale a{
color:#fff;
text-decoration:underline;
}

.introduction a{
color:#fff;
text-decoration:underline;
}

.image{
  background-color: #656565;
  height: auto;
  text-align:left;
}

body {
   font-family: 'Kaisei HarunoUmi', serif;
   background-color:#656565;
}

.main{
  background-color: #656565;
  width: 70%
  height: auto;
  font-family: 'Kaisei HarunoUmi', serif;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;
}

.side {
  background-color:#656565;
  width: 30%;
  height: auto;
  text-align: left;
}

article {
 display: flex;
}

h1{
  padding:20px#fff;
  color: #BCDEE5;
  position: relative;
  font-size: 30px;
  font-family: 'Kaisei HarunoUmi', serif;
}

h2{
  color: #fff;
  font-size: 20px;
  font-family: 'Kaisei HarunoUmi', serif;
}

.head-border {
    position: relative;
    display: inline-block;
    padding: 0 55px;
}

.head-border:before,
.head-border:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #BCDEE5;
}

.head-border:before {
    left: 0;
}

.head-border:after {
    right: 0;
}

h4{
  color: #fff;
  font-weight: normal;
  font-family: 'Kaisei HarunoUmi', serif;
}

img{
  max-width: 100%;
  height: auto;
  text-align:center;
  padding-bottom: 20px;
}

.footer{
  background: linear-gradient(#656565, #336666);
  height: 100px;
}

.footer-logo{
  font-size: 32px;
  float: left;
  font-family: 'Kaisei HarunoUmi', serif;
  color: #FFF;
  padding:20px 40px;
}
